# Java & Kotlin
*.class
*.jar
*.war
*.nar
*.ear

# 로그 파일
*.log
hs_err_pid*
replay_pid*

# 빌드 & 캐시
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE 설정
.idea/
*.iml
*.ipr
*.iws
.vscode/

# 기타 IDE/툴
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# BlueJ, J2ME
*.ctxt
.mtj.tmp/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# 기타
out/
bin/
HELP.md

.cursor
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
